<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626057676839-b4u4s76evg4sast5vbe12i9bve1j1hnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626057676839-b4u4s76evg4sast5vbe12i9bve1j1hnh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>626057676839-araqh7lqab8d658ha1c33i163i3r5g32.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5WgU7y9GUPgc-cWY6_N-uw5s8j8WHMkM</string>
	<key>GCM_SENDER_ID</key>
	<string>626057676839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fruiteapp</string>
	<key>PROJECT_ID</key>
	<string>fruit-hub-8d28a</string>
	<key>STORAGE_BUCKET</key>
	<string>fruit-hub-8d28a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626057676839:ios:ed78e768f899da99ffa602</string>
</dict>
</plist>